<html>
  <head>
    <title> My Website </title>
  </head>
  <body>
    <p> sdfsdfs234dasdfdfgsdfgd </p>
  </body>
</html>

<html>
  <head>
    <title> My Website </title>
  </head>
  <body>
    <h1> Clothing Selection </h1>
    <div>
      <h2> Tops </h2>
      <select>
        <option value="t-shirt">T-Shirt</option>
        <option value="shirt">Shirt</option>
        <option value="blouse">Blouse</option>
      </select>
    </div>
    <div>
      <h2> Bottoms </h2>
      <select>
        <option value="pants">Pants</option>
        <option value="jeans">Jeans</option>
        <option value="skirt">Skirt</option>
      </select>
    </div>
    <div>
      <h2> Shoes </h2>
      <select>
        <option value="sneakers">Sneakers</option>
        <option value="sandals">Sandals</option>
        <option value="boots">Boots</option>
      </select>
    </div>
  </body>
</html>

